body{
    background-color: #ECE9E5;
}

.progress-bar-container{
    display: flex;
}

.bar{
    background-color: #CCC4BA;
    height: 8px;
    width: 33%;
    margin-left: 6px;
    margin-right: 6px;
}

.bar-active{
    background-color: #E06358;
}

.progress-bar-container{
    margin-top: 80px;
}

.form-body{
    margin-top: 60px;
    margin-left: 160px;
}

.form-header{
    margin-bottom: 40px;
}

.form-footer{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px;
    position: absolute;
    height: 95px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: #FFFFFF;
    box-shadow: 0px -4px 8px rgba(45, 61, 84, 0.06);
}
.footer-button-wrapper{
   margin-top: 24px;
   margin-right: 24px;
   margin-bottom: 24px;
}

.custom-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    gap: 8px;
    width: 320px;
    height: 47px;
    background: #E06358;
    border-radius: 6px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.back-button{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    padding: 20px;
    background-color:#E5E1DC;
    cursor: pointer;
}